body {
    font-family: PT sans narrow;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
}

h1 {
    font-family: PT sans narrow;
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
    color: #000000;
}

h2 {
    font-family: PT sans narrow;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
}